.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #D0D0D0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: none;
  border-radius: 3px;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 1;
  height: 8px;
}
.CodeMirror-simplescroll-horizontal div {
	bottom: 2px;
	height: 50%;
}

.CodeMirror-simplescroll-vertical {
	right: 0px;
	top: 1px;
	width: 7px;
}
.CodeMirror-simplescroll-vertical div {
	right: 2px;
	width: 60%;
}


.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {
  display: none;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  position: absolute;
  background: none;
  border-radius: 3px;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-overlayscroll-horizontal {
  bottom: 0; left: 0;
  height: 6px;
}
.CodeMirror-overlayscroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-overlayscroll-vertical {
  right: 0; top: 0;
  width: 6px;
}
.CodeMirror-overlayscroll-vertical div {
  right: 0;
  width: 100%;
}
