/*
	Рамки профиля
*/
.profile-frame {
	position: relative !important;
}

.profile-frame img {
	background: none !important;
	filter: none !important;
	display: block !important;
	padding: 0 !important;
	max-width: 50px !important;
	max-height: 50px !important;
}

.profile-frame .profile-avatar-frame {
	position: absolute !important;
	width: 100% !important;
}

.profile-frame .profile-avatar-frame img {
	transform: scale(1.23) !important;
	background: none !important;
}

#edit-status-message {
    position: relative;
}

#edit-status-message input {
	padding-right: 30px;
}

#edit-status-message #save-button {
	cursor: pointer;
	position: absolute;
    right: 11px;
    top: 14px;
}

audio {
	max-width: 100%;
}